@import "tailwindcss";

@theme {
  --color-background: #030712;
  --color-foreground: #f9fafb;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
